@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
    --background1: #020126;
    --background2: #042159;
    --background: #223459;
    --background-top: #3966BF;
    --fonts1: #F24182;
    --fonts2: #F2E422;
    --buttons1: #F25D27;
    --buttons2: #F28A2E;
    --buttons3: #53E8FE;
    --buttons4: #47D447;
    --buttons5: #F2D0DD;
    --buttons6: #F23827;
    --buttonsNude: #D6D6A4;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--background1);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    overflow: scroll;
    font-family: 'Fredoka One', cursive;
}

.header {
    color: var(--buttons1);
    font-family: 'Fredoka One', cursive;
    font-size: 3.5em;
    letter-spacing: 2px;
    margin: 1em;
}

li ul {
    list-style-type: none;
}

.levels {
    margin: 1.5em;
}

div.levels li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.levels ul button {
    font-family: 'Fredoka One', cursive;
    font-size: 1em;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 14px;
    transition-duration: 0.4s;
    color: var(--background2);
    height: 2em;
    width: 8em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


.start:active {
    box-shadow: none;
    top: 8px;
}

.start:hover {
    cursor: pointer;
    background-color: #3ebfff;
}


.ensign button{
    background-color: var(--fonts2);
    margin-right: 1em;
    box-shadow:
    0 6px 0 #a3990f,
    0 6px 10px #cfc20f;
}    

.lieutenant button{
    background-color: var(--buttons4);
    margin-right: 1em;
    box-shadow:
    0 8px 0 #329b32,
    0 8px 20px #179b17;
}    

.commander button{
    background-color: var(--buttons3);
    margin-right: 1em;
    box-shadow:
    0 8px 0 #28b3c9,
    0 8px 20px #0d7585;
}    

.captain button{
    background-color: var(--fonts1);
    margin-right: 1em;
    box-shadow:
    0 8px 0 #b93364,
    0 8px 20px #860a37;
}    

.admiral button{
    background-color: var(--buttons1);
    box-shadow:
    0 8px 0 #b44016,
    0 8px 20px #d43900;
}    

.restart button {
    font-size: 20px;
}    

div.game-stats li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}    

div.game-stats ul {
    width: 4em;
    height: 2em;
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
    border: none;
    outline: none;
    margin: 1em;
    color: white;
}    

ul.lives,
ul.score,
ul.timer  {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
}    

button {
    width: 5em;
    height: 3em;
    font-size: 1.5em;
    background: black;
    color: black;
}

.restart button span {
    font-size: 2em;
}
.board {
    width: 300px;
    aspect-ratio: 1 / 1;
    background-color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 30px;
    aspect-ratio: 1 / 1;
}